{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_header|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
{% if user.userprofile.is_django_admin %}
<a href="{% url 'portal:admin_page' %}">Панель администратора</a> /
<a href="{% url 'portal:dba_page' %}">Кабинет DBA</a> /
{% elif user.userprofile.is_dba %}
<a href="{% url 'portal:dba_page' %}">Кабинет DBA</a> /
{% endif %}
{{ block.super }}
{% endblock %}

{% block footer %}
<div id="footer">
    <p class="text-center text-muted mb-0">
        © 2025 ООО "Аспект". Все права защищены.
    </p>
</div>
{% endblock %}